{% load static %}
<!-- Footer -->
	<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
		<div class="flex-w p-b-90">
			<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					GET IN TOUCH
				</h4>

				<div>
					<p class="s-text7 w-size27">
						Any questions? Let us know in .... Ho Chi Minh city
					</p>

					<div class="flex-m p-t-30">
						<a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
					</div>
				</div>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Categories
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="/products/?page=1"  class="s-text7">
							All
						</a>
					</li>

					<li class="p-b-9">
						<a href="/search/?q=top" class="s-text7">
							Top
						</a>
					</li>

					<li class="p-b-9">
						<a href="/search/?q=pants" class="s-text7">
							Pants
						</a>
					</li>

					<li class="p-b-9">
						<a href="/search/?q=accessory" class="s-text7">
							Accessory
						</a>
					</li>
					<li class="p-b-9">
						<a href="/search/?q=hat" class="s-text7">
							Hat
						</a>
					</li>
					<li class="p-b-9">
						<a href="/search/?q=footerwear" class="s-text7">
							Footerwear
						</a>
					</li>
				</ul>
			</div>

<!-- 			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Links
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Search
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							About Us
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Contact Us
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Returns
						</a>
					</li>
				</ul>
			</div> -->
<!-- 
			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
				<h4 class="s-text12 p-b-30">
					Help
				</h4>

				<ul>
					<li class="p-b-9">
						<a href="#" class="s-text7">
							Track Order
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Returns
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							Shipping
						</a>
					</li>

					<li class="p-b-9">
						<a href="#" class="s-text7">
							FAQs
						</a>
					</li>
				</ul>
			</div> -->

			<div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					Newsletter
				</h4>
				<p class="s-text7 w-size27">
						Subsribe to get HOT promotions
					</p>
				{% if request.user.email %}
					<div class="effect1 w-size9">
						<input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="{{ request.user.email }}">
						<span class="effect1-line"></span>
					</div>

					<div class="w-size2 p-t-20">
						
						<a href="/settings/email/" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Subscribe
									</a>
					</div>
					{% else %}
					
					<div class="w-size2 p-t-20">
					<a href="/login/?next=/settings/email" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Login
									</a>
								</div>
					<div class="w-size2 p-t-20">
					<a href="/register/" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Register
									</a>
					</div>
				{% endif %}
			</div>
		</div>

		
	</footer>



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>