<form method='GET' action='{% url "search:query" %}' class="form my-2 my-lg-0 search-form">
	<!-- <div class='input-group'>
      <input class="form-control" type="search" placeholder="Search" name='q' aria-label="Search" value='{{ request.GET.q }}'>
      	<span class='input-group-btn'>
      		<button class="btn btn-outline-success" type="submit">Search</button>
  		</span>
	</div> -->
	<div class='input-group'>
	<div class="search-product pos-relative bo4 of-hidden">
							<input class="s-text7 size6 p-l-23 p-r-50" type="search" name="q" placeholder="Search Products..." value='{{ request.GET.q }}'>

							<button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4" type="submit">
								<i class="fs-12 fa fa-search" aria-hidden="true"></i>
							</button>
						</div>
					</div>
</form>
